img{
    width: 175px;
    margin: 0 auto;
}

%estiloArticulo{
    font-size: 16px;
    color: #b38900;
}

%estiloTitulos{
    font-size: 24px;
    font-style: italic;
    color: rgb(89, 121, 230);
    background-color: coral;
}

p{
    @extend %estiloArticulo;
}

h1,h2,h3{
    @extend %estiloTitulos;
}